.wrapper {
  display: flex;
}

.title {
  width: 300px;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 2rem;
}
