.wrapper {
  display: flex;
  height: 100%;
}

.title {
  font-size: 1.7rem;
  letter-spacing: 1px;
  margin-right: 1rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  @media (max-width: 850px) {
    justify-content: space-between;
  }

  @media (max-width: 404px) {
    justify-content: flex-end;
  }

  h2 {
    @media (max-width: 404px) {
      display: none;
    }
  }
}

.catalog {
  width: 100%;
  padding-left: 2rem;
  @media (max-width: 850px) {
    padding-left: 0;
  }
}
