.wrapper {
  display: flex;
  height: 100%;
}

.title {
  font-size: 1.7rem;
  letter-spacing: 1px;
  margin-right: 1rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.catalog {
  width: 100%;
  padding-left: 2rem;
}
